* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1920px;
    width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e1de39;
    font-family: 'Ubuntu';
    background-image: url("RTU-Karjeras-diena-LAIMES-RATS-1920x1080px.png");
    background-size: 1080px 1920px;
    background-repeat: no-repeat;
}

img.logo {
    position: fixed;
    right: 25px;
    top: 25px;
    width: 210px;
    height: 70px;
}

img.prize {
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);
}

.container .wheel .number span.emoji {
    display: inline-block;
    font-size: 1.2rem;
    transform: rotate(-90deg) translateX(0%);
}


.container {
    position: relative;
    width: 40vw;
    height: calc(40vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .spinBtn {
    position: absolute;
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu';
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 0.3vw solid rgba(0, 0, 0, 0.75);
    cursor: pointer;
    user-select: none;
}

.container .spinBtn::before {
    content: '';
    position: absolute;
    top: -45%;
    height: 50%;
    width: 40%;
    background: rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.container .wheel {
    position: absolute;
    width: 800px;
    height: 800px;
    background: #3c3c3c;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 0.3vw #3c3c3c,
        0 0 0 1vw #fff,
        0 0 0 1.1vw #111;

    transition: transform 10s ease-out;
}

.container .wheel .number {
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(20deg * var(--i)));
    clip-path: polygon(0 0, 30% 0, 100% 100%, 0 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.container .wheel .number span {
    font-size: 1rem;
    position: relative;
    transform: rotate(45deg);
    color: #333333;
    font-family: 'Ubuntu';
}



.number {
    font-family: 'Ubuntu';

}

.number:nth-child(1) {
    --i: 1;
    --clr: #f9b6b4;
}

.number:nth-child(2) {
    --i: 2;
    --clr: #a9ded8;
}

.number:nth-child(3) {
    --i: 3;
    --clr: #f9b6b4;
}

.number:nth-child(4) {
    --i: 4;
    --clr: #a9ded8;
}

.number:nth-child(5) {
    --i: 5;
    --clr: #f9b6b4;
}

.number:nth-child(6) {
    --i: 6;
    --clr: #a9ded8;
}

.number:nth-child(7) {
    --i: 7;
    --clr: #f9b6b4;
}

.number:nth-child(8) {
    --i: 8;
    --clr: #a9ded8;
}

.number:nth-child(9) {
    --i: 9;
    --clr: #f9b6b4;
}

.number:nth-child(10) {
    --i: 10;
    --clr: #a9ded8;
}

.number:nth-child(11) {
    --i: 11;
    --clr: #f9b6b4;
}

.number:nth-child(12) {
    --i: 12;
    --clr: #a9ded8;
}

.number:nth-child(13) {
    --i: 13;
    --clr: #f9b6b4;
}

.number:nth-child(14) {
    --i: 14;
    --clr: #a9ded8;
}

.number:nth-child(15) {
    --i: 15;
    --clr: #f9b6b4;
}

.number:nth-child(16) {
    --i: 16;
    --clr: #a9ded8;
}

.number:nth-child(17) {
    --i: 17;
    --clr: #f9b6b4;
}

.number:nth-child(18) {
    --i: 18;
    --clr: #a9ded8;
}