* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
}

img {
    position: fixed;
    right: 25px;
    top: 25px;
    width: 210px;
    height: 70px;
}

.container {
    position: relative;
    width: 40vw;
    height: calc(40vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .spinBtn {
    position: absolute;
    width: 15%;
    height: 15%;
    background: white;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 0.3vw solid rgba(0, 0, 0, 0.75);
    cursor: pointer;
    user-select: none;
}

.container .spinBtn::before {
    content: '';
    position: absolute;
    top: -45%;
    height: 50%;
    width: 40%;
    background: rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.container .wheel {
    position: absolute;
    width: 40vw;
    height: calc(40vw);
    background: #3c3c3c;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 0.3vw #3c3c3c,
        0 0 0 1vw #fff,
        0 0 0 1.1vw #111;

    transition: transform 5s ease-in-out;
}

.container .wheel .number {
    position: absolute;
    width: 50%;
    height: 50%;
    font-size: 2.5vw;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 58% 0, 100% 100%, 0 58%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.container .wheel .number span {
    position: relative;
    transform: rotate(45deg);
    color: #fff;
}



.number {
    font-size: 1.5vw;
    font-family: 'Pacifico', cursive;
}

.number:nth-child(1) {
    --i: 1;
    --clr: #db7093;
}

.number:nth-child(2) {
    --i: 2;
    --clr: #627eb6;
}

.number:nth-child(3) {
    --i: 3;
    --clr: #50b46d;
}

.number:nth-child(4) {
    --i: 4;
    --clr: #28b9ee;
}

.number:nth-child(5) {
    --i: 5;
    --clr: #dc1f1f;
}

.number:nth-child(6) {
    --i: 6;
    --clr: #9aaa31;
}

.number:nth-child(7) {
    --i: 7;
    --clr: #e9d1d9;
}

.number:nth-child(8) {
    --i: 8;
    --clr: #a9189f;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 70vw;
        height: calc(70vw);
    }

    .container .wheel {
        width: 70vw;
        height: calc(70vw);
    }
}